.jumbotron {
  position: relative;
  color: #1f1f1f;
  height: 500px;
  overflow: hidden;
  background-color: #1f1f1f;
}

.jumbotron img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}


.jumbotron .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background-color: rgba(240, 238, 238, 0.5);
}

.jumbotron h1 {
  font-size: 90px;
  font-weight: bold;
  margin-top: 150px;
}
